.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .pagination_numbers{
    display: flex;
  }

  .page_button_styles{
    margin-right: 10px;
    cursor: pointer;
    font-style: italic;
    &:hover{
      color: red;
    }
  }
  .active_page{
    color: #0eab0e;
  }
}
