@import "../../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700&display=swap');

@import "../Components/Button/button";
@import "../Components/Header/header";
@import "../Components/Footer/footer";
@import "../Components/Main/main";
@import "../Components/Input/input";
@import "../Components/TableCell/table_cell";
@import "../Components/Loading/loading";
@import "../Components/Pagination/pagination";
@import "./variables";

body{
  padding: 23px 77px 5px 78px;
  font-family: 'Roboto', sans-serif;
  line-height: 17.9px;
  background-color: #fff;
  font-size: 13px;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
